
{{#if canceled }}
	<div style="text-align: center; font-size: 12px;">
		<h3>{{ tt "invoice.kind_options.canceled" }}</h3>
		{{ tt "invoice.cancel_reason" }} : {{ cancel_reason }}
		<br><br>
	</div>
{{/if}}

{{! ------------------- DO NOT MODIFY ------------------- }}
<div class="invoice_outline encadre" {{#if status_paid}}{{#if show_paid_logo}}{{#not_in kind "proforma,estimate"}}style="background:transparent url('{{paid_mark_url}}') no-repeat 50% bottom;"{{/not_in}}{{/if}}{{/if}} >


	{{>buttons}}
{{! ----------------- end DO NOT MODIFY ----------------- }}

	<section id="invoice_header">
		<div id="top_left">
			<div id="logo_place">
				{{#if logo_url}}
						<img src="{{logo_url}}" alt="logo" />
				{{/if}}
			</div>

			<div id="seller">
				<p><strong>{{{company}}}</strong></p>
				<p>{{{address}}}</p>

				{{#if phone}}
					<p class="space-top">{{tt 'invoice.seller_phone'}} : {{phone}}</p>
				{{/if}}
				{{#if fax}}
					<p {{#unless phone}}class="space-top"{{/unless}}>{{tt 'invoice.seller_fax'}} : {{fax}}</p>
				{{/if}}

				{{#if www}}
					<p class="space-top">{{tt 'invoice.seller_www'}} : {{www}}</p>
				{{/if}}

				{{#if email}}
					<p {{#unless www}}class="space-top"{{/unless}}>{{tt 'invoice.seller_email'}} : {{email}}</p>
				{{/if}}

				{{#if tax_no}}
					<p class="double-space-top">{{seller_tax_no_kind}} : {{tax_no}}</p>
				{{/if}}


			</div>
		</div> <!-- top_left -->

		<div id="top_right">

			<table class="top_table">
				<tr class="tab-row">
					<td class="tab-cell uppercase bold" colspan="
						{{#and issue_place oid}}
							4
						{{else}}
							{{#or issue_place oid}}
								3
							{{else}}
								2
							{{/or}}
						{{/and}}">
						{{document_type}}
						{{#if print_option}}
							<small>{{print_option}}</small>
						{{/if}}
					</td>
				</tr>
				<tr class="tab-row">
					<td class="tab-cell  gray bold" width="
						{{#and issue_place oid}}
							25%
						{{else}}
							{{#or issue_place oid}}
								33%
							{{else}}
								50%
							{{/or}}
						{{/and}}
						">
						{{tt "invoice.number"}}
					</td>
					<td class="tab-cell  gray bold" width="
						{{#and issue_place oid}}
							25%
						{{else}}
							{{#or issue_place oid}}
								34%
							{{else}}
								50%
							{{/or}}
						{{/and}}
						">
						{{tt "invoice.issue_date"}}
					</td>
					{{#if issue_place}}
						<td class="tab-cell  gray bold" width="
						{{#if oid}}
							25%
						{{else}}
							33%
						{{/if}}
						">
							{{tt "invoice.place"}}
						</td>
					{{/if}}
					{{#if oid}}
						<td class="tab-cell uppercase gray bold" width="
						{{#if issue_place}}
							25%
						{{else}}
							33%
						{{/if}}
						">
							{{tt 'invoice.oid'}}
						</td>
					{{/if}}
				</tr>
				<tr class="tab-row">
					<td class="tab-cell">
						{{number}}
					</td>
					<td class="tab-cell">
						{{issue_date}}
					</td>

					{{#if issue_place}}
						<td class="tab-cell">
							{{issue_place}}
						</td>
					{{/if}}

					{{#if oid}}
						<td class="tab-cell">
							{{oid}}
						</td>
					{{/if}}


				</tr>
			</table>

			<table class="top_table">
				<tr class="tab-row">
					<td class="tab-cell padding-bottom text-left" id="buyer">
						<strong>
							{{#and client_url show_links }}
								<a href="{{{client_url}}}" class="incognito-link">{{#if buyer_company}} {{else}} {{buyer_title}} {{/if}} {{{buyer}}}</a>
							{{else}}
								{{#if buyer_company}} {{else}} {{buyer_title}} {{/if}} {{{buyer}}}
							{{/and}}
						</strong><br />
						{{{buyer_address}}}<br />
						{{#if buyer_company}}
							{{#if buyer_tax_no}}
								{{buyer_tax_no_kind}} {{buyer_tax_no}}
							{{/if}}
						{{/if}}
					</td>
				</tr>
				{{#and show_buyer_note buyer_note}}
					<tr>
						<td class="tab-cell text-left">
							{{{buyer_note}}}
						</td>
					</tr>
				{{/and}}
			</table>

			{{#and use_delivery_address delivery_address}}
			<table class="top_table">
				<tr class="tab-row">
					<td class="tab-cell uppercase gray bold" >
						{{delivery_address_name}}
					</td>
				</tr>

				<tr class="tab-row">
					<td class="tab-cell padding-bottom text-left">
						{{{delivery_address}}}
					</td>
				</tr>
			</table>
			{{/and}}

		</div><!-- top_right-->
	</section>



	{{#if title}}
		<div id="title" class="big">
			{{{title}}}
		</div>
	{{/if}}



	<!-- POSITIONS -->
	{{#not_eq kind 'maintenance_request'}}
		<!-- si vous souhaitez personnaliser le tableau, vous pouvez le remplacer par https://github.com/vosfactures/Formats/blob/master/partials/positions2.handlebars -->
		{{>positions2}}
	{{else}}
		{{>positions_without_prices}}
	{{/not_eq}}
	<!-- POSITIONS END -->

	{{#if final}}
		<!-- si vous souhaitez personnaliser la liste des acomptes liés, vous pouvez les remplacer par https://github.com/vosfactures/Formats/blob/master/partials/advances.handlebars  -->
		{{>advances}}
	{{/if}}

	<div class="no-page-break">
		<section id="invoice_details" class="half-space-top">
			<div id="bottom_left">

				{{#if exchange_currency}}
					<p id="exchange_currency" class="double-space-bottom">
						{{long_exchange_note}}
					</p>
				{{/if}}

				{{#if_created_after_date '2016-09-19'}}
					{{#and show_sell_date sell_date}}
						<div class="box" id="document_selldate">
							<span class="nowrap">{{{sell_date_kind}}} :</span>
							<br />
							<strong>{{sell_date}}</strong>
						</div>
					{{/and}}
				{{/if_created_after_date}}


				{{#if payment_to}}
					<div class="box">
						<span class="nowrap">{{tt "invoice.payment_to"}}</span><br />
						<strong>{{payment_to}}</strong>
					</div>
				{{/if}}
				{{#if type_of_payment}}
					<div class="box">
						<span class="nowrap">{{tt "invoice.payment_type"}}</span><br />
						<strong class="nowrap">{{type_of_payment}}</strong>
					</div>
				{{/if}}
				<br />
				{{#if bank}}
					<div class="box">
						{{tt "invoice.seller_bank"}}<br />
						<strong class="nowrap">{{bank}}</strong>
					</div>
				{{/if}}
				{{#if swift}}
					<div class="box">
						{{tt "department.bank_swift"}}<br />
						<strong class="nowrap">{{swift}}</strong>
					</div>
				{{/if}}
				{{#if bank_account}}
					<div class="box">
						{{tt "department.bank_iban"}}<br />
						<strong class="nowrap">{{bank_account}}</strong>
					</div>
				{{/if}}


				<div class="clear"> </div>

				{{#if show_interest_rate}}
					<p class="half-space-top">
						<span>{{tt "invoice.interest_note"}} :</span>
						{{interest_rate}}
					</p>
				{{/if}}


				{{#eq additional_fields.sum_recovery 'client_professionnel'}}
					{{#if buyer_company}}
						<p class="half-space-top">
							<strong>{{legal_cost_compensation}}</strong>
						</p>
					{{/if}}
				{{/eq}}


				{{#not_eq additional_fields.advanced_payment_discount 'Néant'}}
					{{#if additional_fields.advanced_payment_discount}}
						<p class="half-space-top">
							<span>{{tt "invoice.discount_on_advanced_payment_note"}} :</span>
							{{additional_fields.advanced_payment_discount}} %
						</p>
					{{/if}}
				{{/not_eq}}

				{{#if additional_field_name}}
					{{#if additional_field_value}}
						<p class="half-space-top">
							<span>{{additional_field_name}} : </span>
							{{additional_field_value}}
						</p>
					{{/if}}
				{{/if}}

				{{#if notes}}
					<p id="notes" class="half-space-top">
						<strong>{{tt "invoice.description"}} :</strong><br />
						{{{notes}}}
					</p>
				{{/if}}

				{{#if gocardless_subscription}}
					<br/>
					<strong>{{tt 'account.gocardless.sub_info'}}</strong>
					<br/>
					<strong>{{tt 'subscription.interval_unit'}} :</strong> {{subscription_interval_unit}}
					{{#if subscription_month}}
						<br/>
						<strong>{{tt 'subscription.month' }} :</strong> {{subscription_month}}
					{{/if}}
					{{#if subscription_day_of_month}}
						<br/>
						<strong>{{tt 'subscription.day_of_month'}} :</strong> {{subscription_day_of_month}}
					{{/if}}
					{{#if subscription_count}}
						<br/>
						<strong>{{tt 'subscription.count'}} :</strong> {{subscription_count}}
					{{/if}}
				{{/if}}

			</div><!-- bottom_left -->

			<!-- TOTALS -->
			<div id="bottom_right">
				{{#not_eq kind 'maintenance_request'}}
					{{#if show_totals }}
						{{#unless exchange_currency}}
							<table class="clean to_right totals_inv_table">
								{{#unless hide_tax}}
									{{#if discount}}
										<tr>
											<th class="gray">
												{{tt "invoice.total_price_net" }}
											</th>
											<td class="number">
												{{ total_price_net_without_discount }}
											</td>
										</tr>
										<tr>
											<th class="gray">
												{{#if global_discount_percent}}
											{{tt "invoice.global_discount"}} ({{global_discount_percent}})
										{{else}}
											{{tt "invoice.discount"}}
										{{/if}}
											</th>
											<td class="number">
												{{ global_discount_net }}
											</td>
										</tr>
										<tr>
											<th class="gray">
												{{tt "invoice.total_price_net_with_discount" }}
											</th>
											<td class="number">
												{{ total_price_net }}
											</td>
										</tr>
									{{else}}
										{{#if tax_visible}}
											<tr>
												<th class="gray">
													{{tt "invoice.total_price_net" }}
												</th>
												<td class="number">
													{{ total_price_net }}
												</td>
											</tr>
										{{/if}}
									{{/if}}
								{{else}}
									{{#if discount}}
										<tr>
											<th class="gray">
												{{tt "invoice.total_price_gross" }}
											</th>
											<td class="number">
												{{ total_price_gross_without_discount }}
											</td>
										</tr>
										<tr>
											<th class="gray">
												{{#if global_discount_percent}}
											{{tt "invoice.global_discount"}} ({{global_discount_percent}})
										{{else}}
											{{tt "invoice.discount"}}
										{{/if}}
											</th>
											<td class="number">
												{{ global_discount_gross }}
											</td>
										</tr>
										<tr>
											<th class="gray">
												{{tt "invoice.total_price_gross_with_discount" }}
											</th>
											<td class="number">
												{{ total_price_gross }}
											</td>
										</tr>
									{{/if}}
								{{/unless}}

								{{#if tax_visible}}
									{{#unless hide_tax}}
											{{#if tax2_visible}}
												{{#if tax2_details}}
													<tr>
														<th class="gray">
															{{ ../tax1_value_name }}
														</th>
														<td class="number">
															{{../tax1_value_with_currency}}
														</td>
													</tr>
													<tr>
														<th class="gray">
															{{ ../tax2_value_name }}
														</th>
														<td class="number">
															{{../tax2_value_with_currency}}
														</td>
													</tr>
												{{else}}
													<tr>
														<th class="gray">
															{{ ../tax_value_name }}
														</th>
														<td class="number">
															{{../tax_value_with_currency}}
														</td>
													</tr>
												{{/if}}
											{{else}}
												{{#each final_summary}}
													<tr>
														<th class="gray">
															{{ ../tax_value_name }} ({{tax}}{{#not_eq tax 'N/A'}}%{{/not_eq}})
														</th>
														<td class="number">
															{{tax_value}}
														</td>
													</tr>
												{{/each}}
											{{/if}}
										<tr>
											<th class="gray">
												{{tt "invoice.total_price_gross" }}
											</th>
											<td class="number">
												{{ total_price_gross }}
											</td>
										</tr>
									{{/unless}}
								{{/if}}

						{{/unless}}
					{{/if}}



					{{#if exchange_currency}}
						<table class="totals_inv_table clean to_right">
							{{#if tax_visible}}
								{{#unless hide_tax}}
									<tr>
										<th class="gray">
											{{tt "invoice.total_price_net" }}
										</th>
										<td class="number">
											{{ total_price_net}}{{currency}}
										</td>
										<td class="number">
											{{ total_price_net_in_exchange_currency }}{{exchange_currency}}
										</td>
									</tr>

									<tr>
										<th class="gray">
											{{tax_value_name}}
										</th>
										<td class="number">
											{{ tax_value }}{{currency}}
										</td>
										<td class="number">
											{{ tax_value_in_exchange_currency }}{{exchange_currency}}
										</td>
									</tr>
								{{/unless}}
								<tr>
									<th class="gray">
										{{tt "invoice.total_price_gross" }}
									</th>
									<td class="number">
										{{ total_price_gross}}{{currency}}
									</td>
									<td class="number">
										{{ total_price_gross_in_exchange_currency }}{{exchange_currency}}
									</td>
								</tr>
							{{/if}}
							{{#unless tax_visible}}
								{{#if hide_tax}}
									<tr>
										<th class="gray">
											{{tt "invoice.total_price_gross" }}
										</th>
										<td class="number">
											{{ total_price_gross}}{{currency}}
										</td>
										<td class="number">
											{{ total_price_gross_in_exchange_currency }}{{exchange_currency}}
										</td>
									</tr>
								{{else}}
									<tr>
										<th class="gray">
											{{tt "invoice.total_price_net" }}
										</th>
										<td class="number">
											{{ total_price_net}}{{currency}}
										</td>
										<td class="number">
											{{ total_price_net_in_exchange_currency }}{{exchange_currency}}
										</td>
									</tr>
								{{/if}}
							{{/unless}}
					{{/if}}

					<tr>
						<td colspan="2" class="table-spacer">
						</td>
					</tr>

					{{#or paid show_paid_when_zero}}
						<tr>
							<th class="gray nowrap">{{tt "invoice.paid"}}</th>
							<td>
								{{#if paid}}
									{{paid}}
								{{else}}
									{{zero_with_currency}}
								{{/if}}
								{{#unless show_payments_on_invoice}}
									{{#and show_paid_date paid_date}}
										<br /><small>{{tt 'invoice.paid_on'}} {{paid_date}}</small>
									{{/and}}
								{{/unless}}
							</td>
							{{#if exchange_currency}}
								<td>
								{{#if paid}}

								{{else}}
									{{zero_with_currency_in_exchange_currency}}
								{{/if}}
								{{#and show_paid_date paid_date}}
									<br /><small>{{tt 'invoice.paid_on'}} {{paid_date}}</small>
								{{/and}}
							</td>
							{{/if}}
						</tr>
					{{/or}}
					<tr>
						<th class="gray nowrap">{{#if negative_outstanding}}{{tt "invoice.to_receive"}}{{else}}{{tt "invoice.to_pay"}}{{/if}}</th>
						<td class="to-pay nowrap">{{absolute_outstanding}}</td>
						{{#if exchange_currency}}
							<td class="nowrap">
								{{absolute_outstanding_in_exchange_currency}}
							</td>
						{{/if}}
					</tr>
					{{#if absolute_outstanding_in_words}}
						<tr>
							<td colspan="{{#if exchange_currency}}3{{else}}2{{/if}}" class="text-center">
								<small>{{{absolute_outstanding_in_words}}}</small>
							</td>
						</tr>
					{{/if}}
					{{#if exchange_currency}}
						<tr>
							<td colspan="3" class="text-center">
								<small>{{{absolute_outstanding_in_words_in_exchange_currency}}}</small>
							</td>
						</tr>
					{{/if}}
				{{/not_eq}} <!--not_eq kind 'maintenance_request'-->
				</table>
			</div><!-- TOTALS --> <!-- bottom_right -->

		</section> <!-- invoice_details -->


		{{#if has_corrected_content}}
			{{>corrected_content}}
		{{/if}}

		{{#if show_payments_on_invoice}}
			{{>payments}}
		{{/if}}


		<section id="invoice_signatures">
			<div id="seller_sign">
				{{#or person show_empty_seller_person}}
					<p><span>{{tt "invoice.seller_person"}}</span></p>
					<p>{{person}}</p>
				{{/or}}

				{{#if stamp_below_sign_url}}
					<img src="{{stamp_url}}" alt="stamp" style="max-width:40%"/>
				{{/if}}
			</div>
			<div id="buyer_sign">
				{{#not_eq locale 'fr'}}
					{{#or buyer_person show_empty_buyer_person}}
						<p><span>{{tt "invoice.buyer_person"}}</span></p>
						<p>{{buyer_person}}</p>
					{{/or}}
				{{/not_eq}}
				{{#if show_date_and_sign}}
					<p style="margin: 0% 10%;"><span>{{tt "invoice.date_and_signature_etc"}}</span></p>
					{{#if signature_url}}
						<p>{{tt "invoice.signature_accept"}} {{signature_date}}</p>
						<p style="margin: 0% 10%;"><img src="{{signature_url}}" width="60%" height="60%"></p>
					{{/if}}
					<!-- Date et signature du client précédée de la mention ‘Bon pour accord’ -->
				{{/if}}
			</div>
		</section>
	</div><!-- no-page-break -->

{{! ------------------- DO NOT MODIFY ------------------- }}
</div><!-- /invocie_outline -->


{{#if department.name}}
	<section id="description_footer">
		<div id="company_info_footer">
			<span>{{>company_info_footer}}</span>
		</div>
	</section>
{{/if}}<!-- #company_info_footer -->

{{#if description_long}}

	<hr class="noprint" style="margin-top:0px;" />

	<div style="page-break-after:always !important;"></div>

	<div class="invoice_outline">
		<table  class="full_width" >
			<tr>
				<td class="small_text">
					<span id="extra_page_content">{{{description_long}}}</span>
				</td>
			</tr>
		</table>
	</div>
{{/if}}

{{>encadre_extras}}
