<div class="invoice_outline" {{#if status_paid}}{{#not_in kind "proforma,estimate"}}style="background:transparent url('{{paid_mark_url}}') no-repeat 60% 50%"{{/not_in}}{{/if}} >

 
{{#if stamp_url}}
	<div style="background:transparent url('{{stamp_url}}') no-repeat  94% 82%"  id="custom_stamp">
{{/if}}


	{{#if payment_url}}
		<a class="payment_button" href="{{payment_url}}"><img src="{{payment_button_url}}" alt="online payment"/></a>
	{{/if}}

	<table   class="full_width">



		<tr>
			<td class="vert_align_top  text_left" >
				
				<p>

					<strong class="big_text">{{document_type}}</strong> 
					<br/>
					<strong class="medium_text">{{tt "invoice.number"}} {{number}}</strong>
				
				</p>
				<p>
				
					<strong class="medium_text">{{print_option}}</strong>
					<br/>
					{{#if issue_place}}
						{{tt "invoice.place"}}: {{issue_place}}, le {{issue_date}} <br/>	
					{{else}}
						{{tt "invoice.issue_date"}}: {{issue_date}} <br/>	
					{{/if}}
					{{#if sell_date}}
						{{#if sell_date_kind}}
							{{{sell_date_kind}}}: {{sell_date}}
						{{else}}
							{{tt "invoice.sell_date"}}: {{sell_date}}
						{{/if}}
					{{/if}}
				</p>

				
				{{#if oid}}
				<p>
					{{tt 'invoice.oid'}}: {{oid}}
				</p>
				{{/if}}
						
	
				{{#if correction}}
				<p>
					{{ correction }}
				</p>
				{{/if}}

			</td>

			<td class="vert_align_top text_right">

				{{#if logo_url}}
		
					
						<img src="{{logo_url}}" alt="logo"/>
					
		
				{{/if}}
				

			</td>
		</tr>
	</table>


	<table   class="seller_buyer full_width">
		<tr>
			<td style="width:70%"  class="vert_align_top">

				<strong>{{tt "invoice.seller"}}:</strong><br/>
				{{company}}<br/>
				{{{address}}}<br/>

				{{#if tax_no}}
					{{tax_no}}<br/>
				{{/if}}
				

				{{#if bank}}<br/>{{bank}} {{bank_account}}<br/>{{/if}}
				{{#if email}}<br/>{{email}}{{/if}}
				
				{{#if www}}<br/>{{www}}{{/if}}
				
				<br/>
				{{#if phone}}T: {{phone}}{{/if}}
				{{#if fax}}, F: {{fax}}{{/if}}

			</td>

			<td  style="width:30%"  class="vert_align_top">


				<strong>{{tt "invoice.buyer"}}:</strong><br/>

				{{#if buyer_company}} {{else}} {{buyer_title}} {{/if}}
				{{buyer}}<br/>
				{{{buyer_address}}}<br/>
				{{#if buyer_company}}
					{{#if buyer_tax_no}}
						{{buyer_tax_no}}<br/>
					{{/if}}
				{{/if}}
				{{#if show_buyer_note }}
					{{#if buyer_note}}
						{{buyer_note}}<br/>
					{{/if}}
				{{/if}}
				<br>
				{{#if use_delivery_address}}
					{{#if delivery_address}}
					<strong>{{tt "client.delivery_address"}}:</strong><br/>
						{{{delivery_address}}}
					{{/if}}
				{{/if}}

			</td>
		</tr>
	</table>

	{{#if title}}
	
	<table class="full_width">



			<tbody><tr>
				<td class="small_text text_center">
				
					<span>
						<h4>{{title}}</h4>					
					</span>
				</td>

			</tr>

		</tbody></table>
	
	
		
	{{/if}}

	<!-- si vous souhaitez personnaliser le tableau, vous pouvez le remplacer par https://github.com/vosfactures/templates/blob/master/partials/positions.hbs.html  -->
	{{>positions}}
		
		
	<!-- si vous souhaitez personnaliser les totaux, vous pouvez les remplacer par https://github.com/vosfactures/templates/blob/master/partials/totals.hbs.html  -->
	{{>totals}}


	<table class="full_width" style="margin-top:20px">
		<tr>
			<td class="empty">
				<strong class="medium_text">{{tt "invoice.to_pay"}}: {{outstanding}} <span class="hidden vosfactures3_visible"> {{#if tax_visible}} {{tt "invoice_template.gross"}} {{else}} {{tt "invoice_template.net"}} {{/if}} </span></strong> 
				{{#if outstanding_in_words}}
				<strong>{{tt "invoice.in_words"}}:</strong> {{{outstanding_in_words}}} <br/>
				{{/if}}
				<br/>
				{{#if paid}}

				<strong>{{tt "invoice.paid"}}:</strong> {{paid}}
					{{#if show_paid_date}}
						{{tt 'invoice.paid_on'}} {{paid_date}}
					{{/if}}

				{{/if}}
			</td>
		</tr>
	</table>

	<br/>
		  
<div style="page-break-inside: avoid !important;">
	<table  class="full_width" style="margin-top:20px">
		<tr>
			<td class="empty">
				
				{{#if type_of_payment}}
					<strong>{{tt "invoice.payment_type"}}:</strong> {{type_of_payment}}  <br/>
				{{/if}}

				{{#if payment_to}}
					<strong>{{tt "invoice.payment_date"}}:</strong> {{payment_to}}	<br/>
				{{/if}}

				{{#not_eq additional_fields.interest_rate 'Néant'}}
					{{#if additional_fields.interest_rate}}
						<strong>{{tt "invoice.interest_note"}}:</strong> {{additional_fields.interest_rate}} % par an<br/>
					{{/if}}
				{{/not_eq}}
						
				{{#not_eq additional_fields.sum_recovery 'client_particulier'}}
					{{#if buyer_company}}
						<strong>{{tt "invoice.legal_cost_note"}}</strong> <br/>
					{{/if}}
				{{/not_eq}}

				{{#not_eq additional_fields.advanced_payment_discount 'Néant'}}
					{{#if additional_fields.advanced_payment_discount}}
						<strong>{{tt "invoice.discount_on_advanced_payment_note"}}:</strong> {{additional_fields.advanced_payment_discount}} %<br/>
					{{/if}}
				{{/not_eq}}
				{{#if notes}}
					<br/>
					<strong>{{tt "invoice.description"}}:</strong> {{{notes}}}
				{{/if}}

			</td>

		</tr>
	</table>

	<br/><br/>

	<table  class="full_width">
		<tr>
			<td class="text_center half_width">
				{{#if person}}
				<strong>{{tt "invoice.seller_person"}}</strong>
				<br/>
				<i>{{person}}</i>

				{{/if}}
			</td>

			<td   class="text_center half_width">
				{{#in kind "estimate,client_order"}}
				{{#if show_date_and_sign}}
				<strong>{{tt "invoice.date_and_signature_etc"}}</strong><br/>
				<!-- Date et signature du client précédée de la mention ‘Bon pour accord’ --> 
				<br/>
				{{/if}}
				{{/in}}
			</td>
		</tr>
	</table>

{{#if description_footer}}
	<br>
	<br>

	<table  class="full_width" >

		<tr>
			<td class="small_text text_center">
				<br/><br/><br/>
				<hr>
				<span>{{description_footer}}</span>
			</td>

		</tr>

	</table>			

{{/if}}

</div>

<div id="company_info_footer">
{{#if department.name}}
	
	<br/>
	<br/><br/>
	
	<table  class="full_width" >



		<tr>
			<td class="small_text text_center">
				
				<span>
					{{department.kind}} {{department.name}}, 
					{{#if street}}
						{{street}}, 
					{{/if}}

					{{post_code}} 

					{{#if place}}
						{{place}},  
					{{/if}}

					<br>

					{{#eq department.capital_kind 'amount'}}
						Capital: {{department.capital}} {{department.capital_currency}}, 
					{{/eq}}
					
					{{#eq department.capital_kind 'variable'}}
						Capital {{department.capital_kind}}, 
					{{/eq}}


					{{#eq department.register1_status 'yes'}} {{!-- Immatriculé --}}	

						{{#if department.register1_number2}} {{!-- NAF (ou NACE) --}}
							NAF: {{department.register1_number2}},
						{{/if}}

						{{#eq department.register2_status '1'}}
							{{department.register2_number1}} RM {{department.register2_number2}}, 
						{{/eq}}

						{{#eq department.register3_status '1'}}
							RCS  {{department.register3_number1}} {{department.register3_number2}}  {{department.register3_number3}}, 
						{{/eq}}

						{{#eq department.register4_status '1'}}
							{{department.register1_number3}} {{department.register1_number1}} {{department.register4_number3}} {{department.register4_number1}} Dispensé d’immatriculation au RM et RCS, 
						{{/eq}}

					{{/eq}}

					{{#eq department.register1_status 'pending'}} {{!-- En cours d'immatriculation --}}						
						En cours d’immatriculation,
					{{/eq}}


					{{#if department.tax_kind}}
						
						{{#eq department.tax_kind 'yes'}}
							<!-- {{tt "department.tax_kind"}}:  -->
							{{department.tax_no}}
						{{/eq}}

						{{#eq department.tax_kind 'no'}}
							TVA non applicable, art. 293B du CGI.
						{{/eq}}

						{{#eq department.tax_kind 'exempt'}}
							<!-- {{tt "department.tax_kind"}}:  -->
							{{department.tax_no}}
						{{/eq}}

					{{/if}}
				</span>
			</td>

		</tr>

	</table>
	

{{/if}}
</div>


{{#if description_long}}
	<div style="page-break-after:always !important;"></div>
	<br/>
	<br/>
	<br/>
	<div class="invoice_outline">
	
		<table  class="full_width" >



			<tr>
				<td class="small_text">
				
					<span>{{{description_long}}}</span>
				</td>

			</tr>

		</table>
	
	</div>
{{/if}}	


{{#if stamp_url}}
</div> <!-- custom_stamp -->
{{/if}}




</div> <!-- invoice_outline -->



	
